{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>东睿科技项目管理系统</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href={% static 'css/vendor.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/flat-admin.css' %}>

  <!-- Theme -->
  <link rel="stylesheet" type="text/css" href={% static 'css/blue-sky.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/blue.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/red.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/yellow.css' %}>

</head>
<body>
  <div class="app app-default">

<aside class="app-sidebar" id="sidebar">
  <div class="sidebar-header">
    <a class="sidebar-brand" href="#"><span class="highlight">管理员</span> 已登入</a>
    <button type="button" class="sidebar-toggle">
      <i class="fa fa-times"></i>
    </button>
  </div>
  <div class="sidebar-menu">
    <ul class="sidebar-nav">
      <li class="active">
        <a href="#">
          <div class="icon">
            <i class="fa"><span>主页</span></i>
          </div>
          <div class="title">主页</div>
        </a>
      </li>
      <li class="active">
        <a href="#">
          <div class="icon">
            <i class="fa">表一</i>
          </div>
          <div class="title">功能一</div>
        </a>
      </li>
              <li class="active">
        <a href="#">
          <div class="icon">
            <i class="fa">表二</i>
          </div>
          <div class="title">功能二</div>
        </a>
      </li>
              <li class="active">
        <a href="#">
          <div class="icon">
            <i class="fa">表三</i>
          </div>
          <div class="title">功能三</div>
        </a>
      </li>
    </ul>
  </div>
  <div class="sidebar-footer">
    <ul class="menu">
      <li>
        <a href="/" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-cogs" aria-hidden="true"></i>
        </a>
      </li>
      <li><a href="#"><span class="flag-icon flag-icon-th flag-icon-squared"></span></a></li>
    </ul>
  </div>
</aside>

<script type="text/ng-template" id="sidebar-dropdown.tpl.html">
  <div class="dropdown-background">
    <div class="bg"></div>
  </div>
  <div class="dropdown-container">
{#    {{list}}#}
  </div>
</script>
<div class="app-container">

  <nav class="navbar navbar-default" id="navbar">
  <div class="container-fluid">
    <div class="navbar-collapse collapse in">
      <ul class="nav navbar-nav navbar-mobile">
        <li>
          <button type="button" class="sidebar-toggle">
            <i class="fa fa-bars"></i>
          </button>
        </li>
        <li class="logo">
          <a class="navbar-brand" href="#"><span class="highlight">Flat v3</span> Admin</a>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li class="navbar-title">东睿科技项目管理系统私用版</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li>欢迎管理员登录系统</li>
        <li class="dropdown profile">
          <a href="#" class="dropdown-toggle"  data-toggle="dropdown">
            <img class="profile-img" src={% static 'img/profile.png' %}>
            <div class="title">Profile</div>
          </a>
          <div class="dropdown-menu">
            <div class="profile-info">
              <h4 class="username">管理员</h4>
            </div>
            <ul class="action">
              <li>
                <a href="#">
                  退出登录
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <div class="btn-floating" id="help-actions">
  <div class="btn-bg"></div>
  <button type="button" class="btn btn-default btn-toggle" data-toggle="toggle" data-target="#help-actions">
    <i class="icon fa fa-plus"></i>
    <span class="help-text">Shortcut</span>
  </button>
  <div class="toggle-content">
    <ul class="actions">
      <li><a href="#">Website</a></li>
      <li><a href="#">Documentation</a></li>
      <li><a href="#">Issues</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
</div>



<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <a class="card card-banner card-green-light">
  <div class="card-body">
    <i ><span style="font-size: 25px;color: grey;">添加</span></i>
  </div>
</a>

  </div>
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <a class="card card-banner card-blue-light">
  <div class="card-body">
    <i ><span style="font-size: 25px;color: grey">修改</span></i>
  </div>
</a>

  </div>
  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <a class="card card-banner card-yellow-light">
  <div class="card-body">
    <i ><span style="font-size: 25px;color: grey;">删除</span></i>

  </div>
</a>

  </div>
</div>

!!!!这里写表格div!!!!!
  <footer class="app-footer"> 
  <div class="row">
    <div class="col-xs-12">
      <div class="footer-copyright">
        Django © 2019-09-01 By <a href="#" target="_blank" title="">suntx</a> -  <a href="#" title="" target="_blank">do it</a>
      </div>
    </div>
  </div>
</footer>
</div>

  </div>
  
  <script type="text/javascript" src={% static 'js/vendor.js' %}></script>
  <script type="text/javascript" src={% static 'js/app.js' %}></script>

</body>
</html>